@model Person

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
}

@section Styles { 
}

@section Scripts {
    <script type="text/javascript">
        let controller = "@controller";
        let action = "@action";

        $(document).ready(function() { 
            //App.Page.Customers.File.OnLoad();
        });      
    </script>
}

<br />
<div class="row">
    <div class="col">
        <h1>Ficha de estudiante</h1>
        <hr />
        <br />
    </div>
</div>
<form method="post">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4><b>@Model.FirstName @Model.LastName</b></h4>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-2 text-right"><b>ID del estudiante:</b></div>
                        <div class="col-8">@Model.PersonID</div>
                    </div>            
                    <div class="form-group row mb-2">
                        <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="FirstName" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>           
                    <div class="form-group row mb-2">
                        <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="LastName" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div> 
                    <div class="form-group row mb-2">
                        <label asp-for="EnrollmentDate" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="EnrollmentDate" />
                            <span asp-format="{dd-MM-yyyy}" asp-validation-for="EnrollmentDate" class="text-danger"></span>
                        </div>
                    </div>        
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <a asp-controller="estudiantes" asp-action="index" class="btn btn-success">Volver</a>
        </div>
        <div class="col-6 text-end">
            <input type="submit" class="btn btn-primary" value="Grabar" />
        </div>
    </div>
</form>
<br />
<br />